<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanye | Salman</title>
    <link rel="stylesheet" href="/landing.css">
</head>
<body>
    <div class="sec1">
        <%- include('./partials/nav') %>
        <img class="landing-img" src="landing_bg.png" alt="">
        <img class="kanye-img" src="kanye.png" alt="">
        <img class="salman-img" src="salman.png" alt="">
        <img class="heading-img" src="heading.png" alt="">
        <button class="btn">OCT 13TH</button>
    </div>
</body>
</html>