<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanye | Salman</title>
    <link rel="stylesheet" href="ticket.css">
</head>
<body>
    <%- include('./partials/nav') %>
    
    <div class="flex-container">

        <div class="flex-child flex-img"><img class="ticket-img" src="tickets.png" alt=""></div>
        
        <div class="flex-child flex-content">
          <div class="content">
            <h3>Kanye vs Salman</h3>
          </div>
        </div>
        
    </div>      
</body>
</html>