<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanye | Salman</title>
    <link rel="stylesheet" href="ticket.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" /><body>
    <%- include('./partials/nav') %>
    
    <div class="flex-container">

        <div class="flex-child flex-img"><img class="ticket-img" src="tickets.png" alt=""></div>
        
        <div class="flex-child flex-content">
          <div class="content">
            <h3>Kanye vs Salman</h3>
            <p>
            <span class="material-symbols-outlined">
                location_on 
                </span>   <span class="xd">VSYNC STADIUM </span>
                <span class="material-symbols-outlined">
                    calendar_month 
                    </span> <span class="xd"> OCTOBER 13 </span> </p>
                    <br><br>
                    <h2>$20.99 per ticket</h2>
                    <button class="btn">Purchase Now</button>
            </div>
        </div>
        
    </div>      
</body>
</html>