  @import url('https://fonts.googleapis.com/css2?family=Aleo:wght@700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Overpass:wght@200;300;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Sacramento&display=swap');

body{
    background-color: #030A16;
}

.ticket-img{
    position: absolute;
    top: 20%;
    left: 10%;
    height: 60%;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}  

.content{
    font-family: 'Outfit';
    font-weight: 300;
    color:#fff;
}
.content h3{
    font-size: 4rem;

}

.flex-child:first-child {
    margin-right: 20px;
} 

.xd{
    font-size: 1.5rem;
    padding-right: 40px;
    padding-left: 10px;
    margin-bottom: 10px;
}

h2{
    font-size: 3rem;
    font-weight: 200;
}

.btn{
    font-family: 'Outfit';
    margin-top: 50px;
    position: relative;
    margin-left: 0;
    margin-right: auto;
    z-index: 10000;
    display: block;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    padding: 0px 75px;
    border-radius: 4px;
    color: #fff;
    background: #97A6DC ;
    line-height: 1.15;
    font-size: 1.5rem;
    height: 3rem;
    word-spacing: 0px;
    letter-spacing: .0892857143em;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 64px;
    border: none;
    text-align: center;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    

}

.btn:hover{
    
        background: rgb(98, 0, 238);
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);

}